﻿@model List<quizSite.DTO.OldResult>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RName</td>
                        <td>@item.RScore</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>