﻿@model quizSite.DTO.AfterQuizUser
<div class="container">
    <h3 class="text-center">Score: @Model.Score/20</h3>
    <div class="text-center">
        <h3 class="text-center"><a href="/home/index" class="btn btn-danger">👉👉Create Your Own Quiz👈👈</a></h3>
        <partial name="_OldResults" model="Model.OldResults" />
    </div>
</div>