﻿@model quizSite.Models.AfterQuizQuestion


<div class="container">

    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a id="Aq1" href="">1</a></li>
                <li><a id="Aq2" href="">2</a></li>
                <li><a id="Aq3" href="">3</a></li>
                <li><a id="Aq4" href="">4</a></li>
                <li><a id="Aq5" href="">5</a></li>
                <li><a id="Aq6" href="">6</a></li>
                <li><a id="Aq7" href="">7</a></li>
                <li><a id="Aq8" href="">8</a></li>
                <li><a id="Aq9" href="">9</a></li>
                <li><a id="Aq10" href="">10</a></li>
                <li><a id="Aq11" href="">11</a></li>
                <li><a id="Aq12" href="">12</a></li>
                <li><a id="Aq13" href="">13</a></li>
                <li><a id="Aq14" href="">14</a></li>
                <li><a id="Aq15" href="">15</a></li>
                <li><a id="Aq16" href="">16</a></li>
                <li><a id="Aq17" href="">17</a></li>
                <li><a id="Aq18" href="">18</a></li>
                <li><a id="Aq19" href="">19</a></li>
                <li><a id="Aq20" href="">20</a></li>
            </ul>
        </nav>
    </div>
    @if (TempData["alert"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["alert"]
        </div>
    }
    <div class="row">
        <partial name="AfterQuizShowQuestions" model="Model.question" />
    </div>
    <div class="row">
        <nav aria-label="">
            <ul class="pager">
                <li><a id="afterquizqrevious" style="visibility:hidden" href="">Previous</a></li>
                <li><a id="afterquiznext" style="visibility:hidden" href="">Next</a></li>
                <li class="no-bullet">
                    <input type="hidden" name="ParentUserId" value="@Model.ParentUserId" id="ParentUserId" />
                    <input type="hidden" name="ParentUserName" value="@Model.ParentUserName" id="ParentUserName" />
                    <input type="hidden" name="ParentUserAnswer" value="@Model.ParentUserAnswer" id="hiddenParentUserAnswer" />
                    <form action="/afterquiz/afterquizfinish" method="get">
                        <input type="hidden" name="CurrentUserId" value="@Model.CurrentUserId" id="CurrentUserId" />
                        <input type="submit" value="Finish" id="afterQuizBtnSubmit" class="btn btn-success" style="display:none;" />
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>



<style>
    .pagination a.Current {
        background-color: cornflowerblue;
        color: white;
    }
</style>