﻿@model quizSite.DTO.AfterQuizUser

<form action="Create" method="post">
    <div class="container">
        <div class="btn-danger"><h1 class="text-center">Super Quiz Dare 2020</h1></div>
        <div class="col-lg-12">
            <h2 style="color:grey;" class="text-center">How well do you know @Model.ParentUserName?</h2>
            <h2 class="text-center">Enter Your Full Name:</h2>
            <input type="hidden" name="ParentUserName" value="@Model.ParentUserName" />
            <input type="hidden" name="ParentUserId" value="@Model.ParentUserId" />
            <input type="text" asp-for="CurrentUserName" placeholder="Full Name" class="form-control" />
            <span asp-validation-for="CurrentUserName" class="text-danger"></span>
            <input type="submit" style="margin-top:10px" value="👉Start👈" class="btn btn-primary btn-block" />
            <h2 class="text-center"><a href="/home/index" class="btn btn-danger">👉👉Create Your Own Quiz👈👈</a></h2>
        </div>
        <partial name="_OldResults" model="Model.OldResults"/>
    </div>
</form>

