﻿@model quizSite.Models.Option
@{ 
    var text = "Options" + "[" + TempData["Number"] + "]" + ".OptionText";
    var url = "Options" + "[" + TempData["Number"] + "]" + ".ImageUrl";
}
<div class="form-group">
    <label asp-for="OptionText">Answer Option:</label>
    <input asp-for="OptionText" name="@text" class="form-control" placeholder="" />
    <span asp-validation-for="OptionText" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ImageUrl">Image Url:</label>
    <input asp-for="ImageUrl" name="@url" class="form-control" placeholder="" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>


