﻿@model quizSite.Models.Question
@{
    ViewData["Title"] = "Questions";
}
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="QuestionText">Question:</label>
        <input asp-for="QuestionText" class="form-control" placeholder="Question" />
        <label asp-for="AfterQuizQuestionText">After Quiz Question:</label>
        <input asp-for="AfterQuizQuestionText" class="form-control" placeholder="AfterQuizQuestion" />
        <span asp-validation-for="QuestionText" class="text-danger"></span>
    </div>
    @{
        TempData["Number"] = 0;
    }
    <input type="hidden" id="number" value="@TempData["Number"]" />
    <partial name="_option" model="Model.Answer" />
    <div class="form-group">
        <input type="button" id="showmore" class="go-hBtn go-sm go-smooth" onclick="loadMore();" value="Show more" />
        <div id="more"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<script>
    function loadMore() {
        debugger;
        var num =  parseInt($('#number').val());
        num = num + 1;
        $('#number').val(num);
        console.log(num);
        var _url = 'cms/showmoreresult/' + num
            $.ajax({
            type: "GET",
            url: _url,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
             $('#more').append(response);
            }
        }
   )};
</script>