﻿@model quizSite.Models.Option

<div class="col-xs-6 col-md-3 useranswer">
    <div class="thumbnail" style="cursor: pointer;">

        <img style="width:200px;height:130px;" src="@Model.ImageUrl" alt="@Model.OptionText">

        <div>
            <h2 id="@Model.OptionText.Replace(' ','_')" align="center" style="color:black;font-size: x-large;">@Model.OptionText</h2>
            <input type="hidden" id="OptionText" value="@Model.OptionText" />
        </div>
    </div>
</div>

