﻿
<div><h1 class="text-center">AboutUs</h1></div>
<p class="bg-info">
    These types of games are a great hit on Whatsapp. I
    t is a real fun and its craze can be seen on WhatsApp.
    It is the best way by which you can judge a person’s character.
    Every dare message has options whose answers are known to you beforehand.
    You can send this dare message to your friends and ask them to choose one option.
    After they choose one option, just send them answers and your friend has to do accordingly.
</p>