﻿@model quizSite.Models.FinishModel

<div class="container">
    <div class="btn-danger"><h1 class="text-center">Your Challenge is Ready</h1></div>
    <div class="col-lg-12">
        <h3 style="color:grey;" class="text-center">Share this link with your friends</h3>
        <input type="text" asp-for="Url" class="form-control form-control-lg" id="finishUrl" />
        <div align="center">
            <button type="button" class="btn btn-danger" onclick="copyText();">Copy this link.</button>
        </div>
        <br />
    </div>
    <div class="text-center">
        @*<a href="https://www.facebook.com/dialog/share?" class="fa fa-facebook"></a>*@
        <a href="https://api.whatsapp.com/send?text=🤗 @Model.Name has sent you Super Dare of 2020 👸🤴.Let's test how much we know each other!! Share your friends also 👇👇👇👇 
@Model.Url" class="fa fa-whatsapp"></a>
    </div>
</div>
<style>
    .fa {
        padding: 17px;
        font-size: 45px;
        width: 76px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-whatsapp {
        background: #25d366;
        color: white;
    }
</style>

<script>
    function copyText() {
        var copyTextField = document.getElementById("finishUrl");
        copyTextField.select();
        copyTextField.setSelectionRange(0, 99999)
        document.execCommand("copy");
    }
</script>