﻿@model quizSite.Models.User
@{
    ViewData["Title"] = "Quiz Dare 2020";
}
<form asp-action="Create" method="post">
    <div class="container">
        <div class="btn-danger"><h1 class="text-center">👸🤴Super Quiz Dare 2020👸🤴</h1></div>
        <div class="col-lg-12">
            <h4 class="text-center">Enter Your Full Name:</h4>
            <input type="text" asp-for="Username" placeholder="Full Name" class="form-control" />
            <input type="submit" style="margin-top:10px" value="👉Start👈" class="btn btn-primary btn-block" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
</form>
