﻿@model quizSite.Models.Question


<div class="container">

    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a id="q1" href="/quiz/1">1</a></li>
                <li><a id="q2" href="/quiz/2">2</a></li>
                <li><a id="q3" href="/quiz/3">3</a></li>
                <li><a id="q4" href="/quiz/4">4</a></li>
                <li><a id="q5" href="/quiz/5">5</a></li>
                <li><a id="q6" href="/quiz/6">6</a></li>
                <li><a id="q7" href="/quiz/7">7</a></li>
                <li><a id="q8" href="/quiz/8">8</a></li>
                <li><a id="q9" href="/quiz/9">9</a></li>
                <li><a id="q10" href="/quiz/10">10</a></li>
                <li><a id="q11" href="/quiz/11">11</a></li>
                <li><a id="q12" href="/quiz/12">12</a></li>
                <li><a id="q13" href="/quiz/13">13</a></li>
                <li><a id="q14" href="/quiz/14">14</a></li>
                <li><a id="q15" href="/quiz/15">15</a></li>
                <li><a id="q16" href="/quiz/16">16</a></li>
                <li><a id="q17" href="/quiz/17">17</a></li>
                <li><a id="q18" href="/quiz/18">18</a></li>
                <li><a id="q19" href="/quiz/19">19</a></li>
                <li><a id="q20" href="/quiz/20">20</a></li>
            </ul>
        </nav>
    </div>
    @if (TempData["alert"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["alert"]
        </div>
    }
    <div class="row">
        <partial name="ShowQuestions" model="Model" />
    </div>
    <div class="row">
        <nav aria-label="">
            <ul class="pager">
                <li><a id="previous" href="">Previous</a></li>
                <li><a id="next" href="">Next</a></li>
                <li class="no-bullet">
                    <form action="Finish" method="get">
                        <input type="hidden" name="userId" id="hiddenUserId" />
                        <input type="submit" value="Finish" id="btnSubmit" class="btn btn-success" style="display:none;" />
                    </form>
                </li>
            </ul>

        </nav>
    </div>
</div>

<style>
    .pagination a.Current {
        background-color: cornflowerblue;
        color: white;
    }
</style>