﻿
<div><h1 class="text-center">Privacy Policy</h1></div>
<p class="bg-info">
    At Dare Quiz, accessible from http://darequiz.life , one of our main priorities is the privacy of our visitors. 
    This Privacy Policy document contains types of information that is collected and recorded by Dare Quiz and how we use it.
</p>
<h2>
    Log File
</h2>
<p class="bg-info">
    Dare Quiz follows a standard procedure of using log files. These files log visitors when they visit websites.
    All hosting companies do this and a part of hosting services' analytics. 
    The information collected by log files include internet protocol (IP) addresses, 
    browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, 
    and possibly the number of clicks. These are not linked to any information that is personally identifiable. 
    The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, 
    and gathering demographic information.
</p>
<h2>
    Cookies and Web Beacons
</h2>
<p class="bg-info">
    Like any other website, Dare Quiz uses 'cookies'. These cookies are used to store information including visitors' 
    preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' 
    experience by customizing our web page content based on visitors' browser type and/or other information.
</p>