﻿@model quizSite.Models.Question

@{
    ViewData["Title"] = "Questions";
}

<div class="list-group">
    <h2 align="center" class="btn-primary">@Model.QuestionText</h2>
    <input type="hidden" id="QuestionId" value="@Model.Id" />
    <div class="row">
        @foreach (var item in Model.Options)
        {
            <partial name="_option" model="item" />
        }
    </div>
</div>

