﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script data-ad-client="ca-pub-4523728776772120" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Dare Quiz</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="display:none;"> <a href="/Cms/Index">Cms</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - QuizDare</p>
            <div class="text-center">
                <a href="/Home/Index">Home</a>
                <a href="/Home/AboutUs">About Us</a>
                <a href="/Home/PrivacyPolicy">Privacy Policy</a>
                <a href="/Home/ContactUs">Contact Us</a>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        var x = window.location.pathname;
        if (x.indexOf('/quiz') >= 0) {
            var current = x.substr(6);
            var previous = parseInt(current) - 1;
            var next = parseInt(current) + 1;
            if (current == 1) {
                $('#previous').attr("disabled", "disabled");
            }
            else {
                $("#previous").attr("href", "/quiz/" + previous);
            }
            if (current == 20) {
                $('#next').attr("disabled", "disabled");
            }
            else {
                $("#next").attr("href", "/quiz/" + next);
            }
        }

        if (window.location.search != "") {
            localStorage.setItem('lsUserId', '');
            localStorage.setItem('lsUserId', window.location.search.substr(4));
        }

        // this code is to highlight question no - start
        var ques = window.location.pathname.split('/')[2]
        $('#q' + ques).attr('class', 'Current')
        // end

        // this code is to highlight the answer if available in db
        if (x.indexOf('/quiz') >= 0) {
            getAnswer();
        }

        //this code is to hide and show finish button
        if (x.indexOf('quiz/20') > 0) {
            $('#btnSubmit').css("display", "inline-block");
            var userId = localStorage.getItem('lsUserId');
            $('#hiddenUserId').val(userId);
        }

    });

    function getAnswer() {
        var questionId = $('#QuestionId').val();
        var userId = localStorage.getItem('lsUserId');
        _url = '/home/IsAnswerAvailable?questionId=' + questionId + '&userId=' + userId
        $.ajax({
            url: _url,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    $('#' + response).parent().parent().css("background-color", "yellow");
                }
            }
        }
        )
    };

    $('div.useranswer').click(function () {
        var QuestionId = $('#QuestionId').val();
        var elements = $(this).html();
        var found = $('#OptionText', elements);
        var OptionText = found.val();
        var UserId = localStorage.getItem('lsUserId');
        var _url = '/home/saveuseranswer?QuestionId=' + QuestionId + '&OptionText=' + OptionText + '&UserId=' + UserId

        $.ajax({
            url: _url,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response == true) {
                    setTimeout(function(){window.location.href = $('#next')[0].href;}, 300);
                }
            }
        },
        );
    });


    $(document).ready(function () {
        var ParentUserName = $('#ParentUserName').val()
        var h2 = $('#afterQuizH2').html();
        var updatedQuestion= h2.replace('{{user}}', ParentUserName);
        $('#afterQuizH2').html(updatedQuestion)

        var url = window.location.pathname
        if (url.indexOf('validate/20') > 0) {
            $('#afterQuizBtnSubmit').css("display", "inline-block");
        }

        if (url.indexOf('/afterquiz/validate') >= 0) {
            var path = url.split('validate/')[1];
            var current = path.substr(0, path.indexOf('/'));
            var afterquizprevious = parseInt(current) - 1;
            var afterquiznext = parseInt(current) + 1;
            var postfix = url.split('/' + current + '/')[1];

            if (current == 1) {
                $('#afterquizqrevious').attr("disabled", "disabled");
                $('#afterquiznext').attr("href", "/afterquiz/validate/" + afterquiznext + "/" + postfix);
            }
            if (current == 20) {
                $('#afterquiznext').attr("disabled", "disabled");
                $('#afterquizprevious').attr("href", "/afterquiz/validate/" + afterquizprevious + "/" + postfix);
            }

            if (parseInt(current) > 1 && parseInt(current) < 20) {
                $('#afterquiznext').attr("href", "/afterquiz/validate/" + afterquiznext + "/" + postfix);
                $('#afterquizprevious').attr("href", "/afterquiz/validate/" + afterquizprevious + "/" + postfix);
            }
        }
        var pagination = window.location.pathname.split('/')[3];
        $('#Aq' + pagination).attr('class', 'Current');

    });

    $('div.AfterQuizOption').click(function () {
        var ParentAnswer = $('#hiddenParentUserAnswer').val();
        var element = $(this).html();
        var AnswerFound = $('#OptionText', element);
        var CurrentAnswer = AnswerFound.val();

        var isCorrectAnswer;

        if (ParentAnswer == CurrentAnswer) {
            $(this).children('div').css("background-color", "green");
            isCorrectAnswer = true;
        }
        else {
            $(this).children('div').css("background-color", "red");
            var parentAnswer = ParentAnswer.replace(' ', '').replace(' ', '').replace(' ', '');
            $("[alt=" + parentAnswer + "]").parent().css("background-color", "green");
            isCorrectAnswer = false;
        }

        var questionId = $('#QuestionId').val();
        var optionText = $('#OptionText').val();
        var puid = $('#ParentUserId').val();
        var cuid = $('#CurrentUserId').val();
        var _url = '/afterquiz/afterquizanswersave?cuid=' + cuid + '&puid=' + puid + '&questionId=' + questionId +
            '&optionText=' + optionText + '&isCorrectAnswer=' + isCorrectAnswer

        $.ajax({
            url: _url,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                setTimeout(function(){ window.location.href = $('#afterquiznext')[0].href; }, 700);
            },
            error: function (xhr, status, error) {
                console.warn(xhr + status + error);
            }
        }
        );
    });
</script>